.dashboard-container {
  background-color: #f9fafb;
  font-family: 'Inter', sans-serif;
  color: #111;
  margin: 0 auto; /* centraliza o container horizontalmente */
  height: 100vh;
}

/* Top cards */
.dashboard-top {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.stat-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 26px;
  margin: 0 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  height: 100px;
  width: 300px;
}

.stat-card:hover {
  transform: translateY(-3px);
}

.stat-card .icon {
  color: #555;
  display: flex;
  justify-content: flex-end;
}

.stat-card h4 {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #444;
}

.stat-card h2 {
  font-size: 2rem;
  margin: 5px 0;
}

.stat-card p {
  color: #777;
  font-size: 0.9rem;
}

/* Define uma largura máxima para o conteúdo */
.dashboard-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 80%; /* controla o quanto pode expandir */
  margin: 40px auto;
}

/* Ranking */
.ranking-section,
.activities-section {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  width: 50%;
}

.ranking-section h3,
.activities-section h3 {
  font-size: 1.2rem;
}

.ranking-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ranking-item {
  background: #f8f9fa;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 50px;
}

.ranking-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ranking-pos {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ranking-left h4 {
  font-size: 0.95rem;
}

.ranking-left p {
  font-size: 0.8rem;
  color: #666;
}

.ranking-right h4 {
  font-size: 1rem;
}

.ranking-right p {
  color: #777;
  font-size: 0.8rem;
}

/* Atividades */
.activity-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activity-item {
  background: #f8f9fa;
  border-radius: 8px;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 50px;
}

.activity-item h4 {
  font-size: 0.95rem;
}

.activity-item p {
  font-size: 0.8rem;
  color: #666;
}

/* Status */
.status {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px 10px;
}

.status.ativa {
  background: #111;
  color: #fff;
}

.status.pendente {
  background: #f1f5f9;
  color: #111;
}

.status.finalizada {
  background: #f4f4f4;
  color: #666;
}
